@page
@model TruePassWordInput.Pages.PasswordInputModel
@{
}

<div>
    <form method="post">
        <div>
            <label>Логін: </label>
            <input type="text" name="login" required />
        </div>
        <div>
            <label>Пароль: </label>
            <input type="password" name="password" required />
        </div>
        <div>
            <button type="submit" id="loginButton">Увійти</button>
            <a asp-page="Register">Реєстрація</a>
        </div>
    </form>
</div>
@section Scripts 
{
    <script>
        const loginButton = document.getElementById('loginButton');
        const validLogin = 'myLogin';
        const validPassword = 'myPassword';
        loginButton.addEventListener('click', (event) => 
        {
            event.preventDefault();
            const login = document.querySelector('input[name="login"]').value;
            const password = document.querySelector('input[name="password"]').value;
            if (login === validLogin && password === validPassword) 
            {
                window.location.href = '@Url.Page("Index")';
            } 
            else
            {
                alert('Неправильний логін або пароль.');
            }
        });
    </script>
}